body{
    background-color: red;
    font-family: "Staatliches";
    color: white;
}
.imagev{
    height: 100px;
    width: 100px;
}
.btswalabutton{
    background-color:purple !important;
    color: white;
    padding: 10px;
    font-weight: bold;
}
